@model CoreBlog.Web.ViewModels.Page.PageViewModel

@{ 
    var currentPage = Model.PagedList.PageIndex;
    var lastPage = Model.PagedList.TotalPage;
    var startPage = currentPage - 2; //set start page
    var endPage = currentPage + 2; //set endpage

    if (startPage <= 0) //if the page doesn't get mid point
    {
        endPage -= (startPage - 1); // eval end page
        startPage = 1; //set start page to 1
    }

    if (endPage > lastPage) //if end page overcome last page
    {
        endPage = lastPage; // set end page to the very last page
        if (endPage > Model.PagedList.PageSize)
        {
            startPage = endPage - Model.PagedList.PageSize + 1;

        }
    }


    @if (Model.PagedList.TotalCount > 5)
    {
    <div class="text-center">
        <ul class="pagination pagination-lg">
            @if (currentPage > 1)
            {
                <li><a asp-controller="@ViewBag.Controller" asp-route-page="@(currentPage - 1)">Previous</a></li>
            }
            @for (int page = startPage; page <= endPage; ++page)
            {

                if (page == currentPage)
                {
                    <li class="page-item active"><a>@page</a></li>
                }
                else
                {
                <li class="page-item" id="@page"><a asp-controller="@ViewBag.Controller" asp-route-page="@page">@page</a></li>
                }

            }
            @if (currentPage < lastPage)
            {
                <li><a asp-controller="@ViewBag.Controller" asp-route-page="@(currentPage + 1)">Next</a></li>
            }
        </ul>
    </div>
    }
}