<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!-- Stylesheets -->
    <link rel="stylesheet"  href="~/css/style.css" />
    <link rel="stylesheet"  href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @RenderSection("Styles", false)
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Brand</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    @if (!(User.Identity.IsAuthenticated))
                    {
                        <li><a asp-controller="Auth" asp-action="Login">Login<span class="sr-only">(current)</span></a></li>
                        <li><a asp-controller="Reg" asp-action="Registration">Register</a></li>
                    }
                    else
                    {

                        <li>Hello,<span>@User.Identity.Name</span>!</li>
                        <li><a asp-controller="Post" asp-action="CreatePost">Create new post</a></li>
                        <li><a asp-controller="Auth" asp-action="Logout">Logout</a></li>

                    }
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                             <li class="divider"></li>
                            <li><a href="#">About</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Contact</a></li>
                            <li class="divider"></li>
                            <li><a href="#"></a></li>
                        </ul>
                    </li>
                    <li>
                        <form class="navbar-form navbar-right" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search">
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                    </li>
                </ul>
    
            </div>
        </div>
    </nav>

        <!-- Site Content -->
        <div id="site_content">
            @RenderBody()
        </div>
        <script type="text/javascript" src="~/js/site.js"></script>
        <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        @RenderSection("Scripts", false);

        <!-- Footer -->
        <footer class="modal-footer">
            <div class="container">
                <h4 class="text-muted text-center">@DateTime.Now.Year Blog All Rights Reserved</h4>
            </div>
        </footer>
</body>
</html>