@model Blog.ViewModels.PageViewModel

<div class="text-center">
    <ul class="pagination-lg">
        @{
            var currentPage = Model.PostsPerPage.PageIndex;
            var lastPage = Model.PostsPerPage.TotalPage;
        }
        @if (currentPage > 1)
        {
            <li class="btn btn-default"><a asp-controller="@ViewBag.Controller" asp-action="@(currentPage - 1)">Previous</a></li>
        }
        @for (int i = 1; i <= lastPage; ++i)
        {

            <li class="btn btn-default"><a asp-controller="@ViewBag.Controller" asp-action="@i">@i</a></li>

        }
        @if (currentPage < lastPage)
        {
            <li class="btn btn-default"><a asp-controller="@ViewBag.Controller" asp-action="@(currentPage + 1)" >Next</a></li>
        }
    </ul>
</div>