@model Blog.ViewModels.PageViewModel

@{
            var currentPage = Model.PostsPerPage.PageIndex;
            var lastPage = Model.PostsPerPage.TotalPage;
            var frameSize = 5; // display 5 pages
            var startPage = currentPage - frameSize; //set start page
            var endPage = currentPage + frameSize - 1; //set endpage

            if (startPage <= 0) //if we have less then 5 pages
            {
                startPage = 1; //set start page to 1
                endPage = endPage - (startPage - 1); // eval end page

            }

            if (endPage > lastPage) //if end page overcome last page
            {
                endPage = lastPage; // set end page to the very last page
                if (endPage > frameSize)
                {
                    startPage = endPage - frameSize;

                }
            }
}

<div class="text-center">
    <script src="~/js/pagination.js"></script>
    <ul class="pagination">
        @if (currentPage > 1)
        {
            <li><a asp-controller="@ViewBag.Controller" asp-route-page="@(currentPage - 1)">Previous</a></li>
        }
        @for (int page = startPage; page <= endPage; ++page)
        {

            <li><a asp-controller="@ViewBag.Controller" asp-route-page="@page">@page</a></li>

        }
        @if (currentPage < lastPage)
        {
            <li><a asp-controller="@ViewBag.Controller" asp-route-page="@(currentPage + 1)">Next</a></li>
        }
    </ul>
</div>