@model Blog.ViewModels.PageViewModel

    @foreach (var post in Model.PostsPerPage)
    {
        <div class="well" style="background-color:#fff">
            <!-- Blog Post -->
            <!-- Title -->
            <h2 class="text-center">@post.Category.Name: <a asp-controller="Post" asp-action="OpenPost" asp-route-id="@(post.Id)">@post.Title</a></h2>
            <hr>

            <!-- Date/Time -->
            <p>
                <span class="glyphicon glyphicon-time"></span> Posted on @post.PostedOn by <a text-size="10px">@post.Author</a>
            </p>
            <p>
            @if (post.Tags.Any())
            {
                <span class="glyphicon glyphicon-tags"></span>
                        @foreach (var tag in post.Tags)
                        {
                            <a asp-controller="Tag" asp-action="@tag.Name">@tag.Name</a>

                        }
            }
            </p>
            <p><i class="fa fa-comments-o text-left"></i><span class="disqus-comment-count" data-disqus-identifier="@(post.Id)"></span></p>
            <hr>

            <!-- Preview Image -->
            <img class="img-responsive" src="data: @post.Image.Filetype; base64, @post.Image.Base64" alt="@post.Title" />

            <hr>

            <!-- Post Content -->
            <p class="lead">@post.ShortDescription</p>
            <article style="white-space:normal; word-wrap:break-word">@post.Description</article>
            <hr>
            <a asp-controller="Post" asp-action="OpenPost" asp-route-id="@post.Id" style="width:100%" class="btn btn-default">Open</a>
          </div>
    }