@model Blog.ViewModels.PageViewModel 
    
     @{ ViewBag.Controller = "Search"; }
     @Html.Partial("_Search", Model.Search)
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Categories</h3>
        </div>
        <div class="panel-body">
            <div class="list-group">
                <a asp-controller="Category" asp-action="Development" class="list-group-item"><span class="badge">@ViewData["Development"]</span>Development</a>
                <a asp-controller="Category" asp-action="Managment"   class="list-group-item"><span class="badge">@ViewData["Managment"]</span>Managment</a>
                <a asp-controller="Category" asp-action="Design"      class="list-group-item"><span class="badge">@ViewData["Design"]</span>Design</a>
                <a asp-controller="Category" asp-action="Other"       class="list-group-item"><span class="badge">@ViewData["Other"]</span>Other</a>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Latest posts</h3>
        </div>
        <div class="panel-body">
            <div class="list-group">
                @foreach (var post in (IEnumerable<Blog.ViewModels.PostViewModel>)ViewData["Latest"])
                {
                    <a asp-controller="Post" asp-action="OpenPost" asp-route-id="@(post.Id)" class="list-group-item"> @post.Title</a>
                }
            </div>
        </div>
    </div>         