@using Sakura.AspNetCore;
@using Blog.ViewModels
@using Blog.Models
@model Blog.ViewModels.PageViewModel


@{ 

    ViewBag.Title = "CoreBlog";

}

@section Styles {
    <link rel="stylesheet" href="~/css/BackToTop.css" />
    <link rel="stylesheet" href="~/css/SearchBar.css" />
}

@section Scripts {
    <script src="~/js/scrollToTop.js"></script>
}


@{ 
    var latestPosts = Model.PostsPerPage.Source.Where(option => option.PostedOn.Date == DateTime.Today);
    
}

<div class="row">
    <div class="col-lg-9">

        @if (Model.PostsPerPage.TotalCount != 0)
        {
            @Html.Partial("_Posts", Model)

        }
    </div>
    <div class="col-lg-3">
        @Html.Partial("_Search", Model.Search)
        <div class="well">
            <h2>Categories</h2>
            <div class="list-group">
                <a asp-controller="Category" class="list-group-item"><span class="badge">@ViewData["Development"]</span>Development</a>
                <a asp-controller="Category" class="list-group-item"><span class="badge">@ViewData["Managment"]</span>Managment</a>
                <a asp-controller="Category" class="list-group-item"><span class="badge">@ViewData["Design"]</span>Design</a>
                <a asp-controller="Category" class="list-group-item"><span class="badge">@ViewData["Other"]</span>Other</a>
            </div>
        </div>
        <div class="well">
            <h2>Latest posts</h2>
            <div class="list-group">
                @foreach (var post in (IEnumerable<PostViewModel>)ViewData["Latest"])
                {
                    <a asp-controller="Post" asp-action="OpenPost" asp-route-id="@(post.Id)" class="list-group-item"> @post.Title</a>
                }
            </div>
        </div>
    </div>
</div>

<a href="#" class="scrollToTop"><i class="glyphicon glyphicon-triangle-top"></i></a>
<div class="container">
    <div class="row">
        @Html.Partial(@"_Pagination", Model)
    </div>
</div>
